body{
  color: blanchedalmond !important;
}
.about-container {
  padding: 20px;
}

.card {
  border-radius: 10px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.card-body {
  font-size: 1rem;
}

